@font-face {
    font-family: 'Norse';
    src: url("assets/Norse.otf") format('woff2'), url("assets/Norse.otf") format('woff');
}

h1 {
    font-family: 'Norse', Courier, monospace;
    font-size: 5rem;
    color: white;
    position: relative;
}

img {
    width: 50rem;
    height: 25rem;
    position: absolute;
}

p {
    position: relative;
}
